<%- include('../partials/header.ejs') %> 

  

   <div class="jumbotron jumbotron-fluid text-white jumb">
     <span><a class="back-btn-top" href="/profile/<%=userId%>"><i class="bi bi-arrow-return-left ml-5 back-icon"></i></a></span>
     <!-- if page applied -->
      <% if (page === 'applied') { %>
          <div class="container">
      
            <h1 class="display-5">Jobs Applied</h1>
            <p class="lead">This are the jobs you've applied for. Hang in there the employer would get back to you soon.</p>
          </div>
      <% } else { %>
            <div class="container">

              <h1 class="display-5">Jobs Posted</h1>
              <p class="lead">This are the jobs you've posted. Manage theses jobs here. Accept or reject applicants.</p>
            </div>
      <%}%>
      <!-- end if -->
  </div>
      
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
      <% if (page === 'applied') { %>
       <h2>Manage Applied Jobs</h2>
      <% } else { %>
        <h2>Manage Jobs Posted</h2>
      <% } %> 
      
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

 <div class="container-fluid mt-sm-1 pt-sm-1 mt-md-1 pt-md-1 form-div-register">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-md-12 p-5">
      <% if (dataToSend.length) { %>
      
          <% dataToSend.forEach(job => { %>
          <div class="card mb-3 mt-3 pt-3 shadow">
            <!-- <img src="..." class="card-img-top" alt="map goes here"> -->
            
              
            
              <div class="card-body">
                <p class="text-muted">Job Status:<% if ( typeof job.job_status === 'string') { %>
                 <small class="text-warning"><%= job.job_status %></small>
                <% } %></p>

                <h5 class="card-title"><%= job.job_cat %></h5>
                <p class="card-text"><%= job.job_info %></p>
                <% if (page === 'posted') { %>
                 <p class="card-text"><small>Applicant Email:</small> <%=job.email%></p>
                <% } %>
                <%if (page === 'applied') { %>
                  <p class="card-text"><small class="text-muted">You would be paid $<%=job.salary%></small></p>
                <% } else { %>
                  <p class="card-text"><small class="text-muted">You are offering $<%=job.salary%></small></p>
                <% } %>
                <hr>
              </div>
              <div class="container">
                <div class="row">
                  <!-- if pages = applied -->
                  <% if (page === 'applied') { %>
                      <div class="col-sm-12 p-3 manage-action-btn">
                        <div>
                          <!-- Action button for jobs that started -->
                          <%if (job.job_status === 'started') { %>
                             <form action="/jobs/complete?id=<%= job.job_id %>" method="POST">
                              <input type="hidden" name="employerId" value="<%= job.employer_id %>">
                              <input type="hidden" name="employeeId" value="<%= userId %>">
                                <input type="hidden" name="jobId" value="<%= job.job_id %>">
                                <input class="btn btn-sm interest-btn" type="submit" value="Complete Job ! 🌟">
                              </form>
                              <!-- Action button for jobs that started -->
                            <% } else if (job.job_status ==='interested') { %>
                              <!-- Action button for jobs still pending acceptance -->
                               <form action="/jobs" method="POST">
                                <input type="hidden" name="jobId" value="<%= job.job_id %>">
                                <input class="btn btn-sm interest-btn" type="submit" value="Send Reminder ! ⏰">
                              </form>
                                <% } else { %>
                                  <div></div>
                                <% } %> 
                          

                        </div>

                        <div class="cancel-job-div">
                          <% if (job.job_status === 'completed' || job.job_status === 'canceled') { %>
                           ✅
                          <% } else { %>
                             <form>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm details-cancel-btn mb-3" data-toggle="modal" data-target="#staticBackdrop">
                                  Cancel Job ❌
                                </button>

                              </form>
                          <% } %> 

                        </div>
                      </div>
                  <% } else { %>
                        <div class="col-sm-12 p-3 manage-action-btn <% if (job.job_status !== 'open') { %> d-none <% } %>">
                          <div>
                            <form action="/jobs/accept" method="POST">
                              <input type="hidden" name="employeeId" value="<%= job.user_id %>">
                              <input type="hidden" name="jobId" value="<%= job.job_id %>">
                              <input class="btn btn-sm interest-btn" type="submit" value="Accept! 👍">
                            </form>
                          </div>

                          <div class="cancel-job-div">
                            <form class=""  action="/jobs" method="POST">

                                    <!-- Button trigger modal -->
                              <button type="button" class="btn btn-sm details-cancel-btn mb-3" data-toggle="modal" data-target="#staticBackdrop">
                                Reject 👎"
                              </button>

                            </form>
                          </div>
                        </div>
                  <% }%> 

                </div>
              </div>

            
          </div>
          <% }) %>  
        <% } else { %>
          <h3>You have no pending jobs!</h3>
       <% } %>    
<!-- end foreach -->

      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

<!-- Modal -->
<% if (page === 'applied') { %>
 <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to cancel this job?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Maybe a little more time to decide? The employer has already received your interest.You'd get a response soon!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        <form action="/jobs/delete" method="post">
          <input type="hidden" name="jobId" value="<%=jobId%>">
          <input type="hidden" name="userId" value="<%=userId%>">
          <input class="btn btn-sm interest-btn" type="submit" value="Cancel anyway">
        </form>
      </div>
    </div>
  </div>
</div>
<% }  else { %>
  <!-- ELSE IF PAGE === POSTED -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to reject this applicant?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Maybe a little more time to decide? The applicant seems interesting!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        <form action="/jobs/reject" method="post">
          <input type="hidden" name="jobId" value="<%=jobId%>">
          <input type="hidden" name="userId" value="<%=userId%>">
          <input class="btn btn-sm interest-btn" type="submit" value="Reject anyway">
        </form>
      </div>
    </div>
  </div>
</div>
<% } %> 

<!-- MODAL -->
<%- include('../partials/footer.ejs') %> 

