<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %> 
 
  <div class="container-fluid mt-sm-3 pt-sm-3 mt-md-5 pt-md-5">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 p-5 text-center">
                  <!-- Button trigger modal -->
<button type="button" class="btn post-job-btn mb-3" data-toggle="modal" data-target="#staticBackdrop">
  Post A job
</button>
        <h3>Available Jobs:</h3>
        <% jobs.forEach(job => { %>
         <div class="card p-3 shadow mb-3">
           <h3></h3>
           <h2><%= job.job_cat %></h2>
           <p>location : <%= job.job_location %></p>
           <small><%= job.job_info %> </small>
           <div class="container mt-3 p-3">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <form action="/jobs" method="POST">
                    <input class="btn btn-sm interest-btn" type="submit" value="I'm Interested!">
                  </form>
                </div>
              </div>
           </div>

         </div>
        <% }) %>

        <!-- PAGINATION -->
        <% if (typeof numOfPaginationLinks === 'number') { %>
         <% for( let i = 0; i < numOfPaginationLinks; i++ ) { %>
         
         <% } %>
        <% } %>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            
                            <!-- PREVIOUS PAGE PAGINATION -->
              <% if (currentPage != 1) { %>
            <li class="page-item">
              <a class="page-link text-dark" href="/jobs?page=<%= currentPage - 1 %>&limit=2" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
              <% } %>
                              <!-- PAGINATION -->
              <% for( let i = 0; i < numOfPaginationLinks; i++ ) { %>
                  <li class="page-item"><a class="page-link pagination-pg-number<% if (currentPage === i + 1) { %>
                   active-pagination-page
                  <% } %>" href="/jobs?page=<%= i + 1 %>&limit=2"><%= i + 1 %></a></li>
              <% } %>

                              <!-- NEXT PAGE PAGINATION -->
              <% if (currentPage != numOfPaginationLinks) { %>
                           <li class="page-item">
              <a class="page-link text-dark" href="/jobs?page=<%= currentPage + 1 %>&limit=2" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
              <% } %>

          </ul>
        </nav>

      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Let's put some jobs out there!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You can post jobs for others to complete too! We all need help every once in a while too!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        <form action="/jobs/create-job-form" method="POST">
          <input class="btn btn-sm interest-btn" type="submit" value="Create a job!">
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %> 